{% if keepalived_haproxy_check_script %}
vrrp_script haproxy-check {
  script "/bin/killall -0 haproxy"
  interval 2
  weight 20
}
{% endif -%}

vrrp_instance {{ keepalived_project_name }}-vip {
  state BACKUP
  interface {{ keepalived_vrrp_interface }}
  virtual_router_id 47
  priority 101
  advert_int 3

  unicast_src_ip {{ ansible_host }}
  unicast_peer {
  {% for host in ansible_play_batch -%}
    {% if hostvars[host].ansible_host != ansible_host -%}
    {{ hostvars[host].ansible_host }}
    {% endif -%}
  {% endfor -%}
    }

   virtual_ipaddress {
     {{ keepalived_vip_address }} dev {{ keepalived_vrrp_interface }}
    }

  {% if keepalived_haproxy_check_script -%}
   track_script {
     haproxy-check weight 20
    }
  {% endif -%}

   authentication {
     auth_type PASS
     auth_pass {{ keepalived_auth_pass }}
    }
}
